
body{
    background-image: url("time.jpg");
    color:#E8E8E8;
    text-align: center;
    margin: 0;
    padding: 0;
    opacity: 0.8;
}

#intro{
    background-color: #080808;
    height: 50px;
    width: 100%;
    margin-top: 0;
    padding-top: 25px;
    font-family: Helvetica;
    
}
#intro:hover{
    opacity: 0.5;
}
p{
    font-size: 120px;
}
h1{
    margin-top:0;
}
#container{
    margin-top: 25px;
}
#center{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-bottom: 0;
    width: max-content;
    margin-left: 25%;
    margin-right: 25%;
}

#ending{
    margin-top: 25px;
}

button{
    background-color: black;
    color: white;
    font-size: 25px;
    margin-right: 30px;
    
}
button:hover{
    background-color:white;
    color: black;
}